<robot name="lexus_platform">
  <!-- Frames -->
  <link name="base_link" />
  <link name="base_footprint" />
  <link name="lidar_center" />
  <link name="lidar_front/os_sensor" />
  <link name="car_front" />
  <link name="radar_fc" />
  <link name="imu_link" />
  <link name="lidar" />
  <link name="lidar_0" />
  <link name="camera_fr" />
  <link name="camera_fl" />
  <link name="interfaceb_link0" />
  <link name="interfacea_link0" />
  <link name="interfacea_link1" />
  <link name="interfacea_link2" />
  <link name="interfacea_link3" />
  <link name="camera0" />
  <link name="camera1" />
  <link name="camera2" />
  <link name="camera3" />
  <link name="camera4" />
  <link name="openpilot" />
  
  <!-- Sensor Transforms -->

  <!-- base_footprint -->
  <joint name="base_footprint" type="fixed" >
    <parent link="base_link" />
    <child link="base_footprint" />
    <origin xyz="0 0 -0.6" rpy="0 0 0" />
  </joint>

  <!-- Lidar_center -->
  <joint name="lidar_center" type="fixed" >
    <parent link="base_link" />
    <child link="lidar_center" />
    <origin xyz="1.02 0 1.51" rpy="-0.0050194 -0.0047068 -0.055" />
  </joint>

  <!-- Lidar -->
  <joint name="lidar" type="fixed" >
    <parent link="lidar_center" />
    <child link="lidar" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Lidar for Vella -->
  <joint name="lidar_0" type="fixed" >
    <parent link="lidar_center" />
    <child link="lidar_0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Lidar Front -->
  <joint name="lidar_front/os_sensor" type="fixed" >
    <parent link="lidar_center" />
    <child link="lidar_front/os_sensor" />
    <origin xyz="0.836345 0.040888 -0.331192" rpy="0.00454586 -0.00575471 0.86421998"/>
  </joint>

  <!-- Car front -->
  <joint name="car_front" type="fixed" >
    <parent link="base_link" />
    <child link="car_front" />
    <origin xyz="4 0 0" rpy="0 0 0" />
  </joint>

  <!-- Front Center Radar -->
  <joint name="radar_fc" type="fixed" >
    <parent link="base_link" />
    <child link="radar_fc" />
    <origin xyz="4 0 -0.12" rpy="0 0 0" />
  </joint>

  <!-- Imu -->
  <joint name="imu_link" type="fixed" >
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Mako Cameras -->
  <joint name="camera_fr" type="fixed" >
    <parent link="lidar_center" />
    <child link="camera_fr" />
    <origin xyz="1.121888 -0.199951 -0.667152" rpy="-1.38838484  0.03734213 -1.79882734" />
  </joint>

  <joint name="camera_fl" type="fixed" >
    <parent link="lidar_center" />
    <child link="camera_fl" />
    <origin xyz="0.99275 0.247618 -0.680161" rpy="-1.42242691 -0.02834945 -1.42077736" />
  </joint> 

  <!-- Nvidia Cameras -->
  <!-- Front 60 -->
  <joint name="interfaceb_link0" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfaceb_link0" />
    <origin xyz="0.887872  0.062405 -0.447933" rpy="-1.59443758 0.01572688 -1.5383455" />
  </joint> 

  <!-- left 120 -->
  <joint name="interfacea_link0" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link0" />
    <origin xyz="0.752668 0.639622 -0.440855" rpy="-1.58953774 0.0195086 -0.20545299" />
  </joint>

  <!-- right 120 -->
  <joint name="interfacea_link1" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link1" />
    <origin xyz="0.852014 -0.551593 -0.457512" rpy="-1.64241657 0.01970571 -2.8256634" />
  </joint>

  <!-- front 120 -->
  <joint name="interfacea_link2" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link2" />
    <origin xyz="0.91435 0.022596 -0.449033" rpy="-1.61129197 0.02612985 -1.53739803" />
  </joint>

  <!-- back 120 -->
  <joint name="interfacea_link3" type="fixed" >
    <parent link="lidar_center" />
    <child link="interfacea_link3" />
    <origin xyz="-0.852275 -0.084102 -0.273743" rpy="-1.63024231 -0.00547998  1.65116742" />
  </joint>

  <joint name="camera0" type="fixed" >
    <parent link="interfacea_link0" />
    <child link="camera0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="camera1" type="fixed" >
    <parent link="interfacea_link1" />
    <child link="camera1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="camera2" type="fixed" >
    <parent link="interfacea_link2" />
    <child link="camera2" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="camera3" type="fixed" >
    <parent link="interfacea_link3" />
    <child link="camera3" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="camera4" type="fixed" >
    <parent link="interfaceb_link0" />
    <child link="camera4" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="openpilot" type="fixed" >
    <parent link="base_link" />
    <child link="openpilot" />
    <origin xyz="2.41 0.09 0.77" rpy="3.14159 -0.01 0" />
  </joint>

</robot>
