<?xml version="1.0"?>
<launch>
  <!-- Map to load on startup, ideally this should match with CARLA environments (tartu_demo) is exception-->
  <arg name="map_name" />
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <arg name="spawn_point"         default="$(eval '4.70,342.07,36,0,0,-98' if 'tartu' in map_name else '')" />
  <!-- Module type -->
  <arg name="use_lidar"           default="false"/>
  <arg name="use_radar"           default="false"/>
  <arg name="use_gnss"            default="false"/>
  <arg name="use_cam"             default="false" />
  <!-- Carla Server parameters -->
  <arg name='host'                default='localhost' />
  <arg name='port'                default='2000' />
  <arg name='timeout'             default='100' />
  <!-- Scenario Runner args -->
  <arg name='use_scenario_runner' default='false'/>
  <arg name='scenario_name'       default=""/><!-- Scenario name for open scenario -->
  <arg name='route_id'            default=""/><!-- Route ID to follow for route scenario -->
  <!-- Other -->
  <arg name='use_manual_control'  default='false' /><!-- Toggle manual control-->
  <arg name='generate_traffic'    default='false'/><!-- Generate Traffic -->
  <!-- CARLA Rosbridge synchronous_mode, only set to false while running route scenario-->
  <arg name="synchronous_mode"        default="$(eval not (use_scenario_runner and type(route_id) == int))"/>
  
  <!--
    ###################
    ## Carla Commons ##
    ###################
    -->
  <include file="$(find autoware_mini)/launch/platform/carla/carla_common.launch">
    <arg name="map_name"              value="$(arg map_name)" />
    <arg name="use_manual_control"    value="$(arg use_manual_control)" />
  </include>

 <!--
    ###########################
    ## Carla Scenario Runner ##
    ###########################
    -->
  <include if="$(arg use_scenario_runner)" file="$(find autoware_mini)/launch/platform/carla/carla_scenario_runner.launch">
    <arg name='map_name'                            value='$(arg map_name)'/>
    <arg name="scenario_name"                       value="$(arg scenario_name)" />
    <arg name="route_id"                            value="$(arg route_id)" />
  </include>

  <!--
    ################################
    ## Carla RosBridge Essentials ##
    ################################
    -->
  <include file="$(find autoware_mini)/launch/platform/carla/carla_rosbridge.launch">
    <arg name="map_name"                                          value="$(arg map_name)" />
    <arg name="spawn_point"                                       value="$(arg spawn_point)" />
    <arg name="use_lidar"                                         value="$(arg use_lidar)" />
    <arg name="use_radar"                                         value="$(arg use_radar)" />
    <arg name="use_gnss"                                          value="$(arg use_gnss)" />
    <arg name="use_cam"                                           value="$(arg use_cam)" />
    <arg name="host"                                              value="$(arg host)" />
    <arg name="port"                                              value="$(arg port)" />
    <arg name="timeout"                                           value="$(arg timeout)" />
    <arg name="synchronous_mode"                                  value="$(arg synchronous_mode)" />
    <arg name='fixed_delta_seconds'                               value='$(eval 0 if use_manual_control else 0.05)'/>
  </include>

  <!--
    #####################
    ## Traffic Manager ##
    #####################
    -->

  <!-- If traffic is enabled then run traffic generator -->
  <node if="$(arg generate_traffic)" pkg="autoware_mini" type="carla_traffic_generator.sh" name="carla_traffic_generator" output="screen" required="true" />  

</launch>