<?xml version="1.0"?>
<launch>
    <arg name="max_speed"           default="30" />
    <arg name="use_lidar_center"    default="false" />
    <arg name="use_lidar_front"     default="false" />
    <arg name="use_camera_fl"       default="false" />
    <arg name="use_camera_fr"       default="false" />
    <arg name="use_radar_fc"        default="false" />
    <arg name="use_nvidia_cameras"  default="false" />

    <!-- remap to let /radar_fc/vehicle_motion subscribe to /localization/current_velocity      -->
    <remap from="/radar_fc/vehicle_motion" to="/localization/current_velocity" />
    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch">
        <arg name="use_tf"              value="true" />
        <arg name="use_lexus_model"     value="true" />
        <arg name="use_gnss"            value="true" />
        <arg name="use_dbw"             value="true" />
        <arg name="use_ssc"             value="true" />
        <arg name="use_lidar_center"    value="$(arg use_lidar_center)" />
        <arg name="use_lidar_front"     value="$(arg use_lidar_front)" />
        <arg name="use_camera_fl"       value="$(arg use_camera_fl)" />
        <arg name="use_camera_fr"       value="$(arg use_camera_fr)" />
        <arg name="use_radar_fc"        value="$(arg use_radar_fc)" />
        <arg name="use_nvidia_cameras"  value="$(arg use_nvidia_cameras)" />
    </include>

    <group ns="vehicle">

        <!-- SSC interface -->
        <node pkg="autoware_mini" type="ssc_interface.py" name="ssc_interface" output="screen" required="true" >
            <param name="max_speed" value="$(arg max_speed)"/>
        </node>

        <!-- Engage button panel -->
        <node pkg="autoware_mini" type="button_panel.py" name="button_panel" output="screen" required="true"/>
        <node pkg="joy" type="joy_node" name="joy" />

        <rosparam command="load" file="$(find autoware_mini)/config/vehicle.yaml" />

    </group>

</launch>