<?xml version="1.0"?>
<launch>
    <arg name="max_speed"           default="30" />
    <arg name="use_lidar_center"    default="false" />

    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch">
        <arg name="use_tf"              value="true" />
        <arg name="use_lexus_model"     value="true" />
        <arg name="use_gnss"            value="true" />
        <arg name="use_dbw"             value="true" />
        <arg name="use_ssc"             value="true" />
        <arg name="use_lidar_center"    value="$(arg use_lidar_center)" />
    </include>

    <group ns="vehicle">

        <!-- Remap topics -->
        <remap from="current_pose"     to="/localization/current_pose" />
        <remap from="vehicle_cmd"      to="/control/vehicle_cmd" />

        <!-- SSC interface -->
        <node pkg="autoware_mini" type="ssc_interface.py" name="ssc_interface" output="screen" required="true" >
            <param name="max_speed" value="$(arg max_speed)"/>
        </node>

        <!-- Engage button panel -->
        <node pkg="autoware_mini" type="button_panel.py" name="button_panel" output="screen" required="true"/>
        <node pkg="joy" type="joy_node" name="joy" />

        <rosparam command="load" file="$(find autoware_mini)/config/vehicle.yaml" />

    </group>

</launch>