<?xml version="1.0"?>
<launch>
    <arg name="max_speed"           default="30" />
    <arg name="use_lidar_center"    default="false" />

    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch">
        <arg name="use_tf"              value="true" />
        <arg name="use_lexus_model"     value="true" />
        <arg name="use_gnss"            value="true" />
        <arg name="use_dbw"             value="true" />
        <arg name="use_ssc"             value="true" />
        <arg name="use_lidar_center"    value="$(arg use_lidar_center)" />
    </include>

    <group ns="vehicle">

        <!-- SSC interface -->
        <node pkg="autoware_mini" type="ssc_interface.py" name="ssc_interface" output="screen" required="true" >
            <param name="max_speed" value="$(arg max_speed)"/>
        </node>

        <!-- Acceleration limits visualization -->
        <node pkg="topic_tools" type="transform" name="acceleration_limit_transform" args="--wait-for-start /ssc/arbitrated_speed_commands acceleration_limit std_msgs/Float32 'm.acceleration_limit'" output="screen" required="true"/>
        <node pkg="topic_tools" type="transform" name="deceleration_limit_transform" args="--wait-for-start /ssc/arbitrated_speed_commands deceleration_limit std_msgs/Float32 'm.deceleration_limit'" output="screen" required="true"/>

        <!-- Engage button panel -->
        <node pkg="autoware_mini" type="button_panel.py" name="button_panel" output="screen" required="true"/>
        <node pkg="joy" type="joy_node" name="joy" />

        <rosparam command="load" file="$(find autoware_mini)/config/vehicle.yaml" />

    </group>

</launch>