<?xml version="1.0"?>
<launch>
    <arg name="map_name"            default="tartu_demo" />
    <arg name="lanelet2_map_path"   default="$(find autoware_mini)/data/maps/$(arg map_name).osm" />
    <arg name="max_speed"           default="30" />

    <!-- Transforms -->
    <include file="$(find autoware_mini)/launch/platform/tf.launch" />

    <group ns="vehicle">

        <!-- Bicycle_model simulator -->
        <node pkg="autoware_mini" type="bicycle_simulation.py" name="bicycle_simulation" output="screen" required="true">
            <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)"/>
        </node>

        <!-- SSC interface for the sake of visualization of acceleration limits -->
        <!--node pkg="autoware_mini" type="ssc_interface.py" name="ssc_interface" output="screen" required="true" >
            <param name="max_speed" value="$(arg max_speed)"/>
        </node-->

        <rosparam command="load" file="$(find autoware_mini)/config/vehicle.yaml" />
    </group>

    <!-- Patch controller params because simulation does not have delay -->
    <rosparam param="simulate_cmd_delay" ns="control/pure_pursuit_controller">0.0</rosparam>
    <rosparam param="simulate_cmd_delay" ns="control/stanley_controller">0.0</rosparam>

</launch>