<?xml version="1.0"?>
<launch>

    <group ns="vehicle">

        <!-- Bicycle_model simulator -->
        <node pkg="autoware_mini" type="bicycle_simulation.py" name="bicycle_simulation" output="screen" required="true" />

        <rosparam command="load" file="$(find autoware_mini)/config/vehicle.yaml" />
    </group>


</launch>