<?xml version="1.0"?>
<launch>
    <arg name="max_speed"           default="30" />

    <group ns="vehicle">

        <!-- Bicycle_model simulator -->
        <node pkg="autoware_mini" type="bicycle_simulation.py" name="bicycle_simulation" output="screen" required="true" />

        <!-- SSC interface for the sake of visualization of acceleration limits -->
        <!--node pkg="autoware_mini" type="ssc_interface.py" name="ssc_interface" output="screen" required="true" >
            <param name="max_speed" value="$(arg max_speed)"/>
        </node-->

        <rosparam command="load" file="$(find autoware_mini)/config/vehicle.yaml" />
    </group>


</launch>