<?xml version="1.0"?>
<launch>

     <arg name='role_name'               default='ego_vehicle' />

    <node pkg='autoware_mini' type='carla_to_autoware_detected_objects' name='carla_to_autoware_detected_objects' output='screen'>
        <param name="role_name" value="$(arg role_name)"/>
    </node>
    <node type="detected_objects_visualizer.py" name="detected_objects_visualizer" pkg="autoware_mini" output="screen" required="true" />

</launch>