<?xml version="1.0"?>
<launch>
    <!-- Map configuration -->
    <arg name="map_name"            default="tartu_demo"        doc="Map name for traffic light detection" />
    <arg name="lanelet2_map_path"   default="$(find autoware_mini)/data/maps/$(arg map_name).osm" doc="For traffic light detection" />

    <!-- Detection configuration -->
    <arg name="tfl_detector"        default="none"              doc="carla, mqtt, camera, mqtt_camera_fusion, yolo, mqtt_yolo_fusion" />
    <arg name="tfl_cameras"         default="mako"              doc="mako, nvidia" />

    <!-- Detection models -->
    <arg name="camera_onnx_path"    default="$(find autoware_mini)/data/models/traffic_lights/tlr_model.onnx" doc="onnx model path" />
    <arg name="yolo_onnx_path"      default="$(find autoware_mini)/data/models/traffic_lights/yolov3-tiny-608.onnx" doc="yolo model path" />

    <!-- Carla's ground truth traffic lights -->
    <node if="$(eval tfl_detector=='carla')" pkg="autoware_mini" type="carla_traffic_light_detector.py" name="carla_traffic_light_detector" output="screen" required="true">
        <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
    </node>

    <!-- MQTT traffic light detector -->
    <node if="$(eval 'mqtt' in tfl_detector)" pkg="autoware_mini" type="mqtt_traffic_light_detector.py" name="mqtt_traffic_light_detector" output="screen" required="true">
        <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
        <remap if="$(eval 'fusion' in tfl_detector)" from="traffic_light_status" to="mqtt/traffic_light_status"/>
    </node>

    <!-- Camera based traffic light detection -->
    <group if="$(eval 'camera' in tfl_detector or 'yolo' in tfl_detector)">
        
        <group if="$(eval tfl_cameras=='mako')">
            <!-- Traffic light ROI boxes from map -->
            <group if="$(eval 'camera' in tfl_detector)">
                <!-- Camera FL -->
                <node pkg="autoware_mini" type="camera_traffic_light_detector.py" name="camera_traffic_light_detector_left" output="screen" required="true" ns="camera_fl">
                    <remap from="camera_info" to="/camera_fl/camera_info"/>
                    <remap from="image_raw" to="/camera_fl/image_raw"/>
                    <remap from="traffic_light_roi" to="/detection/camera1/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg camera_onnx_path)" />
                </node>
                <!-- Camera FR -->
                <node pkg="autoware_mini" type="camera_traffic_light_detector.py" name="camera_traffic_light_detector_right" output="screen" required="true" ns="camera_fr">
                    <remap from="camera_info" to="/camera_fr/camera_info"/>
                    <remap from="image_raw" to="/camera_fr/image_raw"/>
                    <remap from="traffic_light_roi" to="/detection/camera2/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg camera_onnx_path)" />
                </node>
            </group>

            <!-- Traffic light ROI boxes from yolo -->
            <group if="$(eval 'yolo' in tfl_detector)">
                <!-- Camera FL -->
                <node pkg="autoware_mini" type="yolo_traffic_light_detector.py" name="camera_traffic_light_detector_left" output="screen" required="true" ns="camera_fl">
                    <remap from="camera_info" to="/camera_fl/camera_info"/>
                    <remap from="image_raw" to="/camera_fl/image_raw"/>
                    <remap from="traffic_light_roi" to="/detection/camera1/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg yolo_onnx_path)" />
                </node>
                <!-- Camera FR -->
                <node pkg="autoware_mini" type="yolo_traffic_light_detector.py" name="camera_traffic_light_detector_right" output="screen" required="true" ns="camera_fr">
                    <remap from="camera_info" to="/camera_fr/camera_info"/>
                    <remap from="image_raw" to="/camera_fr/image_raw"/>
                    <remap from="traffic_light_roi" to="/detection/camera2/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg yolo_onnx_path)" />
                </node>
            </group>
        </group>

        <group if="$(eval tfl_cameras=='nvidia')">
            <!-- Traffic light ROI boxes from map -->
            <group if="$(eval 'camera' in tfl_detector)">
                <!-- Nvidia Front Forward 120 FOV camera -->
                <node pkg="autoware_mini" type="camera_traffic_light_detector.py" name="camera_traffic_light_detector_link1" output="screen" required="true" ns="interfacea_link1">
                    <remap from="camera_info" to="/interfacea/link2/camera_info"/>
                    <remap from="image_raw" to="/interfacea/link2/image_rect"/>
                    <remap from="traffic_light_roi" to="/detection/camera2/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg camera_onnx_path)" />
                </node>
                
                <!-- Nvidia Front Forward 60 FOV camera -->
                <node pkg="autoware_mini" type="camera_traffic_light_detector.py" name="camera_traffic_light_detector_link2" output="screen" required="true" ns="interfacea_link2">
                    <remap from="camera_info" to="/interfaceb/link0/camera_info"/>
                    <remap from="image_raw" to="/interfaceb/link0/image_rect"/>
                    <remap from="traffic_light_roi" to="/detection/camera1/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg camera_onnx_path)" />
                </node>
            </group>

            <!-- Traffic light ROI boxes from yolo -->
            <group if="$(eval 'yolo' in tfl_detector)">
                <!-- Nvidia Front Forward 120 FOV camera -->
                <node pkg="autoware_mini" type="yolo_traffic_light_detector.py" name="camera_traffic_light_detector_link1" output="screen" required="true" ns="interfacea_link1">
                    <remap from="camera_info" to="/interfacea/link2/camera_info"/>
                    <remap from="image_raw" to="/interfacea/link2/image_rect"/>
                    <remap from="traffic_light_roi" to="/detection/camera2/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg yolo_onnx_path)" />
                </node>
                
                <!-- Nvidia Front Forward 60 FOV camera -->
                <node pkg="autoware_mini" type="yolo_traffic_light_detector.py" name="camera_traffic_light_detector_link2" output="screen" required="true" ns="interfacea_link2">
                    <remap from="camera_info" to="/interfaceb/link0/camera_info"/>
                    <remap from="image_raw" to="/interfaceb/link0/image_rect"/>
                    <remap from="traffic_light_roi" to="/detection/camera1/traffic_light_roi"/>
                    <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                    <param name="onnx_path" value="$(arg yolo_onnx_path)" />
                </node>
            </group>
        </group>
        
        <node pkg="autoware_mini" type="traffic_light_majority_merger.py" name="traffic_light_majority_merger" output="screen" required="true" >
            <remap if="$(eval 'fusion' in tfl_detector)" from="traffic_light_status" to="camera/traffic_light_status"/>
            <!-- Remaps for Mako cameras -->
            <remap if="$(eval tfl_cameras=='mako')" from="camera1/traffic_light_status" to="camera_fl/traffic_light_status"/>
            <remap if="$(eval tfl_cameras=='mako')" from="camera2/traffic_light_status" to="camera_fr/traffic_light_status"/>
            <!-- Remaps for Nvidia cameras -->
            <remap if="$(eval tfl_cameras=='nvidia')" from="camera2/traffic_light_status" to="interfacea_link1/traffic_light_status"/>
            <remap if="$(eval tfl_cameras=='nvidia')" from="camera1/traffic_light_status" to="interfacea_link2/traffic_light_status"/>
        </node>

        <node if="$(eval 'fusion' in tfl_detector)" pkg="autoware_mini" type="traffic_light_priority_merger.py" name="traffic_light_priority_merger" output="screen" required="true" >
            <remap from="tfl_status_topic_1" to="mqtt/traffic_light_status"/>
            <remap from="tfl_status_topic_2" to="camera/traffic_light_status"/>
        </node>

    </group>

</launch>