<?xml version="1.0"?>
<launch>

  <!-- Map to load on startup, this should match with CARLA environments-->
  <arg name="map_name" />
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <arg name="spawn_point" />
  <!-- Module type -->
  <arg name="use_lidar"                                           default="false"/>
  <arg name="use_radar"                                           default="false"/>
  <arg name="use_gnss"                                            default="false"/>
  <arg name="use_mako_cameras"                                    default="false" />
  <arg name="use_nvidia_cameras"                                  default="false" />
  <arg name="use_vil"                                              default="false"/>
  <arg name="publish_clock"                                       default="true"  doc="Let the Carla bridge publish /clock; disable when an external source (e.g. bag) provides /clock" />
  <!-- Load correct sensor configurations-->
  <arg if="$(eval not use_lidar and not use_radar and not use_mako_cameras and not use_nvidia_cameras)"     name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_minimal.json" />
  <arg if="$(eval not use_lidar and not use_radar and use_mako_cameras and not use_nvidia_cameras)"         name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_mako_with_no_lidars_and_radars.json" />
  <arg if="$(eval not use_lidar and not use_radar and use_nvidia_cameras and not use_mako_cameras)"         name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_nvidia_with_no_lidars_and_radars.json" />
  <arg if="$(eval not use_lidar and not use_radar and use_mako_cameras and use_nvidia_cameras)"             name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_no_lidars_and_radars.json.json" />
  <arg if="$(eval (use_lidar or use_radar) and not use_mako_cameras and not use_nvidia_cameras)"            name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_no_cam.json" />
  <arg if="$(eval (use_lidar or use_radar) and use_mako_cameras and not use_nvidia_cameras)"                name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_mako.json" />
  <arg if="$(eval (use_lidar or use_radar) and use_nvidia_cameras and not use_mako_cameras)"                name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_nvidia.json" />
  <arg if="$(eval (use_lidar or use_radar) and use_mako_cameras and use_nvidia_cameras)"                    name="objects_definition_file"    default="$(find autoware_mini)/config/carla/sensors_all.json" />
  <!-- Carla Server parameters -->
  <arg name='carla_host'                                          default='localhost' />
  <arg name='carla_port'                                          default='2000' />
  <arg name='timeout'                                             default='100' />
  <arg name='fixed_delta_seconds'                                 default='0.05' />
  <arg name='synchronous_mode'                                    default='true' />
  <arg name='passive'                                             default='false' />
  <!-- Disable Carla physics on the ego in vehicle-in-the-loop mode so set_transform teleports don't eject it -->
  <arg name='simulate_physics'                                    default='$(eval not use_vil)' />

  <!--
    ########################
    ## Carla topic remaps ##
    ########################
  -->
  <remap from="/carla/ego_vehicle/base_link/lidar_center/lidar_front/os_sensor" to="/lidar_front/points" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/camera_fl/camera_info" to="/camera_fl/camera_info" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/camera_fr/camera_info" to="/camera_fr/camera_info" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/interfacea_link2/camera_info" to="/interfacea/link2/camera_info" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/interfacea_link1/camera_info" to="/interfacea/link1/camera_info" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/camera_fl/image" to="/camera_fl/image_raw" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/camera_fr/image" to="/camera_fr/image_raw" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/interfacea_link2/image" to="/interfacea/link2/image_rect" />
  <remap from="/carla/ego_vehicle/base_link/lidar_center/interfacea_link1/image" to="/interfacea/link1/image_rect" />
  <remap from="/carla/ego_vehicle/base_link/gnss_forward" to="/gps/fix_forward" />
  <remap from="/carla/ego_vehicle/base_link/gnss" to="/gps/fix" />
  <remap from="/carla/ego_vehicle/base_link/imu" to="/gps/imu" />

  <!-- Crop out vehicle own points in Carla -->
  <node ns="/perception/lidar/center" pkg="nodelet" type="nodelet" name="crop_box" args="standalone pcl/CropBox" output="screen" required="true">
      <remap from="~input" to="/carla/ego_vehicle/base_link/lidar_center" />
      <remap from="~output" to="/lidar_center/points_raw" />
  </node>
  <!-- ====================================================================================================== -->

  <!--
    #####################
    ## Carla TF remaps ##
    #####################
  -->

  <group ns="/vehicle">
    <node pkg='tf' type='static_transform_publisher' name='base_link_basename' args='0 0 0 0 0 0 /ego_vehicle/base_link /base_link 50' />
    <node pkg='tf' type='static_transform_publisher' name='base_footprint_basename' args='0 0 0 0 0 0 /ego_vehicle/base_link/base_footprint /base_footprint 50' />
    <node pkg='tf' type='static_transform_publisher' name='lidar_center_basename' args='0 0 0 0 0 0 /ego_vehicle/base_link/lidar_center /lidar_center 50' />
    <node pkg='tf' type='static_transform_publisher' name='lidar_front_basename' args='0 0 0 0 0 0 /ego_vehicle/base_link/lidar_center/lidar_front/os_sensor /lidar_front/os_sensor 50' />
  </group>

  <!-- ====================================================================================================== -->

  <!--
    ######################
    ## CARLA ROS bridge ##
    ######################
  -->
  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <!-- If using tartu map then run Tartu environment of Carla -->
    <arg name='town'                value="$(arg map_name)"/>
    <arg name='host'                value='$(arg carla_host)' />
    <arg name='port'                value='$(arg carla_port)' />
    <arg name='timeout'             value='$(arg timeout)' />
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)' />
    <arg name="synchronous_mode"    value='$(arg synchronous_mode)' />
    <arg name="passive"             value='$(arg passive)' />
    <arg name="simulate_physics"    value='$(arg simulate_physics)' />
    <!-- When an external source drives /clock (e.g. bag playback), stop the bridge from publishing
         /clock so it does not fight the external one, and stamp bridge TF/messages with ROS time. -->
    <arg name="publish_clock"       value="$(arg publish_clock)" />
    <arg name="use_ros_timestamp"   value="$(eval not publish_clock)" />
  </include>

  <!-- ====================================================================================================== -->

  <!--
    #######################
    ## CARLA Ego vehicle ##
    #######################
  -->
  <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects.launch">
    <arg name="objects_definition_file"               value='$(arg objects_definition_file)' />
    <arg name="spawn_point_ego_vehicle"               value="$(arg spawn_point)" />
  </include>

  <!-- ====================================================================================================== -->

  <!--
    ######################################
    ## CARLA Autoware Bridge Misc Nodes ##
    ######################################
  -->  

  <!-- If using gnss localization then change child_frame to ego_vehicle and run carla_to_novatel msgs converter -->
  <group if="$(eval use_gnss)">
    <param  name="/localization/novatel_oem7_localizer/child_frame" value="ego_vehicle" />
    <node pkg='autoware_mini' type='carla_novatel_driver.py' name='carla_novatel_driver' output='screen' required="true" />
  </group>

  <!-- Offset base_link pose to the vehicle center, teleport the Carla ego, broadcast map -> ego_vehicle, and propagate speed -->
  <node pkg="autoware_mini" type="carla_pose_relay.py" name="carla_pose_relay" output="screen" required="true">
    <param name="use_vil" value="$(arg use_vil)" />
  </node>

  <!-- ====================================================================================================== -->

</launch>
