<?xml version="1.0"?>
<launch>

    <arg name="follower"    default="pure_pursuit"  doc="pure_pursuit, stanley" />
        
    <!-- Follower -->
    <node if="$(eval arg('follower')=='pure_pursuit')" pkg="autoware_mini" type="pure_pursuit_follower.py" name="pure_pursuit_follower" output="screen" required="true" />

    <node if="$(eval arg('follower')=='stanley')" pkg="autoware_mini" type="stanley_follower.py" name="stanley_follower" output="screen" required="true" />

    <rosparam command="load" file="$(find autoware_mini)/config/control.yaml"/>

</launch>