<?xml version="1.0"?>
<launch>

    <arg name="follower"            default="pure_pursuit"  doc="pure_pursuit, stanley" />
    <arg name="use_local_planner"   default="false" />
    
    <group ns="control">

        <!-- Remap topics -->
        <remap from="current_pose"     to="/localization/current_pose" />
        <remap from="current_velocity" to="/localization/current_velocity" />
        <remap if="$(eval arg('use_local_planner'))"     from="path"    to="/planning/local_path" />
        <remap unless="$(eval arg('use_local_planner'))" from="path"    to="/planning/smoothed_path" />


        <!-- Follower -->
        <node if="$(eval arg('follower')=='pure_pursuit')" pkg="autoware_mini" type="pure_pursuit_follower.py" name="pure_pursuit_follower" output="screen" required="true" />

        <node if="$(eval arg('follower')=='stanley')" pkg="autoware_mini" type="stanley_follower.py" name="stanley_follower" output="screen" required="true" />

        <rosparam command="load" file="$(find autoware_mini)/config/control.yaml"/>

    </group>

</launch>