<?xml version="1.0"?>
<launch>
    <group ns="dashboard">
        <node pkg="autoware_mini" type="dashboard_data_extractor.py" name="dashboard_data_extractor" output="screen" required="true" />

        <!-- Vehicle state visualizer -->
        <node pkg="autoware_mini" type="vehicle_state_visualizer.py" name="vehicle_state_visualizer" output="screen" required="true" launch-prefix="nice -n 15" >
            <param name="image_path"  value="$(find autoware_mini)/images/dashboard/"/>
        </node>
        <!-- Drivemode visualizer -->
        <node pkg="autoware_mini" type="drivemode_visualizer.py" name="drivemode_visualizer" output="screen" required="true" />
        <!-- Planner log visualizer -->
        <node pkg="autoware_mini" type="logger.py" name="logger" output="screen" required="true" ></node>

        <rosparam command="load" file="$(find autoware_mini)/config/dashboard.yaml"/>
    </group>
</launch>
