<?xml version="1.0"?>
<launch>
    <arg name="detector"            default="simple"    doc="simple,sim" />
    <arg name="use_lidar_center"    default="true"      doc="whether to use center lidar for detection" />

    <group ns="detection">
        <group if="$(arg use_lidar_center)" ns="lidar_center">
            <remap from="points_raw" to="/lidar_center/points_raw" />
            <remap from="detected_objects" to="/detection/detected_objects" />
            <include if="$(eval arg('detector')=='simple')" file="$(find autoware_mini)/launch/detection/lidar_simple.launch" />
        </group>

        <group if="$(eval arg('detector')=='vella')">
<!--      <node pkg="autoware_mini" type="vella_detector.sh" name="vella_detector" args ="2.11 -->
<!--      $(find autoware_mini)/config/vella/vella_extrinsics.yaml  /odom 2 " output="screen"/> -->
            <node pkg="autoware_mini" type="vella_detector.py" name="vella_detector" output="screen">
                <remap from="detected_objects" to="/detection/detected_objects" />
            </node>
        </group>


        <!-- Obstacle simulator -->
        <node if="$(eval arg('detector')=='sim')" pkg="autoware_mini" type="obstacle_simulation.py" name="obstacle_simulation" output="screen" required="true" />

        <!-- Detected objects visualizer -->
        <node type="detected_objects_visualizer.py" name="detected_objects_visualizer" pkg="autoware_mini" output="screen" required="true" />

        <rosparam command="load" file="$(find autoware_mini)/config/detection.yaml"/>
    </group>

</launch>