<?xml version="1.0"?>
<launch>
    <arg name="detector"            default="lidar_cluster"   doc="lidar_cluster,lidar_sfa,lidar_vella,radar,lidar_cluster_radar_fusion,lidar_sfa_radar_fusion,carla,sim" />
    <arg name="tfl_detector"        default="none"      doc="carla, mqtt, camera, mqtt_camera_fusion" />
    <arg name="lanelet2_map_name"   default="tartu_demo.osm" doc="for carla traffic light detector" />

    <group ns="detection">

        <!-- Obstacle detection -->
        <include file="$(find autoware_mini)/launch/detection/object_detection.launch">
            <arg name="detector"            value="$(arg detector)" />
            <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
        </include>

        <!-- Traffic light detection -->
        <include file="$(find autoware_mini)/launch/detection/traffic_light_detection.launch">
            <arg name="tfl_detector"        value="$(arg tfl_detector)" />
            <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
        </include>

        <rosparam command="load" file="$(find autoware_mini)/config/detection.yaml"/>

    </group>

</launch>