<?xml version="1.0"?>
<launch>

   <arg name="coordinate_system"    default="lest97"  doc="{lest97, mgrs}" />
   <arg name="use_msl_height"       default="True"    doc="msl - Mean Sea Level height or ellipsoid height." />

   <node pkg="autoware_mini" type="localizer.py" name="gnss_localizer" output="screen" >
      <param name="coordinate_system"     value="$(arg coordinate_system)" />
      <param name="use_msl_height"        value="$(arg use_msl_height)" />
   </node>


</launch>
