<?xml version="1.0"?>
<launch>
    <!-- Map configuration -->
    <arg name="map_name"                    default="tartu_demo" />
    <arg name="lanelet2_map_path"           default="$(find autoware_mini)/data/maps/$(arg map_name).osm" />
    
    <!-- Global planning -->
    <arg name="global_planner"              default="lanelet2"  doc="waypoints, lanelet2, carla" />
    <arg name="waypoints_file"              default="waypoints_erm_utm_1m.csv" />
    <arg name="use_path_smoothing"          default="true" />
    <arg name="load_goals"                  default="true" />
    <arg name="goals_file"                  default="$(find autoware_mini)/data/maps/$(arg map_name)_goals.yaml" />
    <arg name="enable_road_closures"        default="true" />
    
    <!-- Local planning -->
    <arg name="local_planner"                   default="rule_speed"      doc="rule_speed, rule_swerve, openpilot, none" />
    <arg name="enable_goal_checker"             default="true" />
    <arg name="enable_object_checker"           default="true" />
    <arg name="enable_manual_yield_checker"     default="true" />
    <arg name="enable_stop_sign_checker"         default="true" />
    <arg name="enable_traffic_light_checker"    default="true" />
    <arg name="enable_crosswalk_checker"        default="true" />
    <arg name="enable_yielding_checker"         default="true" />
    <arg name="enable_give_way_checker"         default="true" />
    <arg name="enable_right_of_way_checker"     default="true" />
    <arg name="enable_trajectory_checker"       default="true" />
    <arg name="enable_bus_stop_checker"         default="true" />
    <arg name="enable_lane_boundary_checker"    default="$(eval 'swerve' in local_planner)" />
    <arg name="synchronization_method"          default="$(eval 'approximate' if 'openpilot' in local_planner else 'exact')" />
    <arg name="use_swerving"                    default="$(eval 'swerve' in local_planner)" />
    <arg name="use_waypoint_assistance"         default="false" />
    <arg name="use_python_visualizers"          default="false" doc="Use Python visualizer nodes instead of RViz plugins" />

    <group ns="planning">

        <!-- Config -->
        <rosparam command="load" file="$(find autoware_mini)/config/planning.yaml" />
        <param name="use_swerving" value="$(arg use_swerving)" />

        <!-- Lanelet2 map visualizer -->
        <node pkg="autoware_mini" type="lanelet2_map_visualizer.py" name="lanelet2_map_visualizer" output="screen" required="true" launch-prefix="nice -n 15">
            <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
            <param name="enable_road_closures" value="$(arg enable_road_closures)" />
        </node>

        <!-- Stop line status visualizer -->
        <node pkg="autoware_mini" type="stop_line_status_visualizer.py" name="stop_line_status_visualizer" output="screen" required="true" launch-prefix="nice -n 15">
            <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
        </node>

        <!-- Waypoint loader -->
        <node if="$(eval global_planner=='waypoints')"  pkg="autoware_mini" type="waypoint_loader.py" name="waypoint_loader" output="screen" required="true">
            <param name="waypoints_file" value="$(find autoware_mini)/data/trajectories/$(arg waypoints_file)" />
        </node>

        <!-- Lanelet2 global planner -->
        <group if="$(eval global_planner=='lanelet2')">
            <node pkg="autoware_mini" type="lanelet2_global_planner.py" name="lanelet2_global_planner" output="screen" required="true">
                <param name="lanelet2_map_path" value="$(arg lanelet2_map_path)" />
                <param name="enable_road_closures" value="$(arg enable_road_closures)" />
            </node>
            <node pkg="autoware_mini" type="global_path_visualizer.py" name="lanelet2_global_path_visualizer" output="screen" required="true" launch-prefix="nice -n 15">
                <remap from="global_path" to="lanelet2_global_path"/>
                <remap from="global_path_markers" to="lanelet2_global_path_markers"/>
            </node>
            <node pkg="autoware_mini" type="lane_change_planner.py" name="lane_change_planner" output="screen" required="true" />

            <group if="$(arg use_waypoint_assistance)">
                <node pkg="autoware_mini" type="waypoint_assistance.py" name="waypoint_assistance" output="screen" required="true" />
            </group>
        </group>

        <!-- Carla global planner -->
        <group if="$(eval global_planner=='carla')">
            <node pkg='autoware_mini' type='carla_global_planner.py' name='carla_global_planner' output='screen' required="true" />
            <remap from="/carla/ego_vehicle/goal" to="/move_base_simple/goal"/>
            <include file="$(find carla_waypoint_publisher)/launch/carla_waypoint_publisher.launch">
                <arg name='timeout' value='100'/>
            </include>
        </group>

        <node pkg="autoware_mini" type="global_path_visualizer.py" name="lane_change_global_path_visualizer" output="screen" required="true" launch-prefix="nice -n 15">
            <remap from="global_path" to="lane_change_global_path"/>
            <remap from="global_path_markers" to="lane_change_global_path_markers"/>
        </node>

        <!-- Path smoothing -->
        <remap if="$(arg use_waypoint_assistance)" from="lane_change_global_path" to="assisted_path" />
        <node if="$(arg use_path_smoothing)" pkg="autoware_mini" type="path_smoothing.py" name="path_smoothing" output="screen" required="true" />
        <node unless="$(arg use_path_smoothing)" pkg="topic_tools" type="relay" args="/planning/lane_change_global_path /planning/global_path" name="global_path_relay" output="screen" required="true" />

        <!-- Global path visualizer -->
        <node pkg="autoware_mini" type="global_path_visualizer.py" name="global_path_visualizer" output="screen" required="true" launch-prefix="nice -n 15"/>

        <!-- Goal publisher -->
        <node if="$(eval load_goals and eval('_' + '_import_' + '_(\'os\')').path.exists(goals_file))" pkg="autoware_mini" type="goal_publisher.py" name="goal_publisher" output="screen" required="true">
            <param name="goals_file" value="$(arg goals_file)" />
        </node>

        <!-- Rule-based local planner -->
        <group if="$(eval 'rule' in local_planner)">
            <node pkg="autoware_mini" type="local_path_extractor.py" name="local_path_extractor" output="screen" required="true" />
            <node pkg="autoware_mini" type="collision_checker.py" name="collision_checker" output="screen" required="true">
                <param name="lanelet2_map_path"                  value="$(arg lanelet2_map_path)" />
                <param name="enable_goal_checker"                value="$(arg enable_goal_checker)"/>
                <param name="enable_object_checker"              value="$(arg enable_object_checker)"/>
                <param name="enable_traffic_light_checker"       value="$(arg enable_traffic_light_checker)"/>
                <param name="enable_crosswalk_checker"           value="$(arg enable_crosswalk_checker)"/>
                <param name="enable_yielding_checker"            value="$(arg enable_yielding_checker)"/>
                <param name="enable_give_way_checker"            value="$(arg enable_give_way_checker)"/>
                <param name="enable_bus_stop_checker"            value="$(arg enable_bus_stop_checker)"/>
                <param name="enable_trajectory_checker"          value="$(arg enable_trajectory_checker)"/>
                <param name="enable_right_of_way_checker"        value="$(arg enable_right_of_way_checker)"/>
                <param name="enable_manual_yield_checker"        value="$(arg enable_manual_yield_checker)"/>
                <param name="enable_stop_sign_checker"           value="$(arg enable_stop_sign_checker)"/>
                <param name="enable_lane_boundary_checker"       value="$(arg enable_lane_boundary_checker)"/>
            </node>
            <node if="$(eval 'speed' in local_planner)" pkg="autoware_mini" type="speed_planner.py" name="speed_planner" output="screen" required="true" >
                <remap if="$(eval 'openpilot' in local_planner)" from="extracted_local_path" to="openpilot_local_path"/>
                <param name="synchronization_method" value="$(arg synchronization_method)" />
            </node>
            <node if="$(eval 'swerve' in local_planner)" pkg="autoware_mini" type="swerve_planner.py" name="swerve_planner" output="screen" required="true" >
                <remap if="$(eval 'openpilot' in local_planner)" from="extracted_local_path" to="openpilot_local_path"/>
                <param name="synchronization_method" value="$(arg synchronization_method)" />
            </node>
        </group>

        <!-- Openpilot local planner -->
        <node if="$(eval 'openpilot' in local_planner)" pkg="autoware_mini" type="openpilot_local_planner.py" name="openpilot_local_planner" output="screen" required="true" />

        <!-- Path to LocalPath converter (when openpilot-only or none) -->
        <node if="$(eval local_planner=='openpilot' or local_planner=='none')" pkg="topic_tools" type="transform" name="path_to_local_path_converter"
              args="global_path local_path autoware_mini/LocalPath 'autoware_mini.msg.LocalPath(header=m.header, waypoints=m.waypoints)' --import autoware_mini autoware_mini.msg"
              output="screen" required="true">
            <remap if="$(eval local_planner=='openpilot')" from="global_path" to="openpilot_local_path"/>
        </node>


        <node if="$(eval use_python_visualizers and ('rule' in local_planner or 'openpilot' in local_planner))" pkg="autoware_mini" type="local_path_visualizer.py" name="local_path_visualizer" output="screen" required="true" launch-prefix="nice -n 15">
            <param name="use_swerving" value="$(arg use_swerving)" />
        </node>

    </group>

</launch>