<?xml version="1.0"?>
<launch>
    
    <arg name="bag_file"        default="2021-01-12-15-57-27_r05_demo_route_mpc.bag" doc="bag file to play" />

    <arg name="use_detection"   default="true"  doc="use object detection"/>
    <arg name="use_tf"          default="false" doc="replaces tf-s in bag with the current ones"/>

    <!-- Use simulation time from bag -->
    <param name="/use_sim_time" value="true" />

    <!-- Play back bag -->
    <node pkg="rosbag" type="play" name="player" required="true" args="$(find autoware_mini)/data/bags/$(arg bag_file) --clock">
        <!-- Rename saved topics that are replaced by current ones -->
        <remap from="/tf" to="/bag/tf" if="$(arg use_tf)"/>
        <remap from="/tf_static" to="/bag/tf_static" if="$(arg use_tf)"/>
        <remap from="/current_pose" to="/bag/current_pose" if="$(arg use_tf)"/>
        <remap from="/current_velocity" to="/bag/current_velocity" if="$(arg use_tf)"/>
    </node>

    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch" >
        <arg name="use_tf"          value="$(arg use_tf)" />
        <arg name="use_lexus_model" value="true" />
        <arg name="use_gnss"        value="false" />
        <arg name="use_dbw"         value="false" />
        <arg name="use_ssc"         value="false" />
    </include>

    <!-- Localization -->
    <include if="$(arg use_tf)" file="$(find autoware_mini)/launch/localization.launch" />

    <!-- Detection -->
    <include if="$(arg use_detection)" file="$(find autoware_mini)/launch/detection.launch" />

    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini.rviz" required="true" />

</launch>