<?xml version="1.0"?>
<launch>

    <arg name="use_detection"           default="false"         doc="use object detection" />
    <arg name="follower"                default="pure_pursuit"  doc="pure_pursuit, stanley" />
    
    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch" >
        <arg name="use_tf"          value="true" />
        <arg name="use_lexus_model" value="true" />
        <arg name="use_gnss"        value="true" />
        <arg name="use_dbw"         value="true" />
        <arg name="use_ssc"         value="true" />
    </include>

    <group ns="autoware_mini">

        <!-- Localizer -->
        <include file="$(find autoware_mini)/launch/localization.launch" />

        <!-- Detection -->
        <include if="$(arg use_detection)" file="$(find autoware_mini)/launch/detection.launch" />

        <!-- Follower -->
        <include file="$(find autoware_mini)/launch/control.launch">
            <arg name="follower" value="$(arg follower)" />
        </include>

        <!-- SSC interface -->
        <node pkg="autoware_mini" type="ssc_interface.py" name="ssc_interface" output="screen" required="true"/>

        <!-- Engage button panel -->
        <node pkg="autoware_mini" type="button_panel.py" name="button_panel" output="screen" required="true"/>
        <node pkg="joy" type="joy_node" name="joy" />

        <!-- Rviz -->
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini.rviz" />

    </group>

</launch>