<?xml version="1.0"?>
<launch>

    <arg name="localizer"               default="novatel"           doc="novatel, carla"/>
    <arg name="detector"                default="cluster"           doc="cluster, sim, carla"/>
    <arg name="follower"                default="pure_pursuit"      doc="pure_pursuit, stanley" />
    <arg name="planner"                 default="lanelet2"          doc="waypoints, lanelet2" />
    <arg name="waypoints_file"          default="waypoints_erm_utm_1m.csv" />
    <arg name="lanelet2_map_name"       default="tartu_demo_l_c_wp_dem.osm" />
    <arg name="use_detection"           default="false"             doc="use object detection" />    
    <arg name="max_speed"               default="30" />
    
    <!-- Localizer -->
    <include file="$(find autoware_mini)/launch/localization.launch">
        <arg name="localizer"           value="$(arg localizer)" />
    </include>

    <!-- Planner -->
    <include file="$(find autoware_mini)/launch/planning.launch">
        <arg name="planner"             value="$(arg planner)" />
        <arg name="waypoints_file"      value="$(arg waypoints_file)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
    </include>

    <!-- Detection -->
    <include if="$(arg use_detection)" file="$(find autoware_mini)/launch/detection.launch">
        <arg name="detector"           value="$(arg detector)" />
    </include>

    <!-- Follower -->
    <include file="$(find autoware_mini)/launch/control.launch">
        <arg name="follower" value="$(arg follower)" />
    </include>

    <!-- Vehicle -->
    <include file="$(find autoware_mini)/launch/platform/lexus.launch" >
        <arg name="max_speed" value="$(arg max_speed)" />
        <arg name="use_lidar_center"  value="$(eval arg('detector')!='vella')" />
    </include>

    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini.rviz" />

</launch>