<?xml version="1.0"?>
<launch>

    <arg name="waypoints_file"          default="wp_erm_two_turns.csv" />
    <arg name="follower"                default="pure_pursuit"  doc="pure_pursuit, stanley" />

    <group ns="autoware_mini">

        <!-- Waypoint_loader -->
        <node pkg="autoware_mini" type="waypoint_loader.py" name="waypoint_loader" output="screen" required="true">
            <param name="waypoints_file" value="$(find autoware_mini)/data/$(arg waypoints_file)" />
        </node>

        <!-- Waypoint_visualizer -->
        <node pkg="autoware_mini" type="waypoint_visualizer.py" name="waypoint_visualizer" output="screen" required="true"/>

        <!-- Follower -->
        <include file="$(find autoware_mini)/launch/control.launch">
            <arg name="follower" value="$(arg follower)" />
        </include>

        <!-- Bicycle_model simulator -->
        <node pkg="autoware_mini" type="bicycle_simulation.py" name="bicycle_simulation" output="screen" required="true"/>

        <!-- Rviz -->
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini_sim.rviz" required="true"/>
    </group>

</launch>