<?xml version="1.0"?>
<launch>
    
    <arg name="use_manual_control"      default="false"                 doc="use manual control for carla"/>
    <arg name="global_planner"          default="lanelet2"              doc="waypoints, lanelet2" />
    <arg name="local_planner"           default="velocity"              doc="velocity, none"/>
    <arg name="use_path_smoothing"      default="true" />
    <arg name="localizer"               default="carla"                 doc="novatel, carla" />
    <arg name="detector"                default="carla"                 doc="cluster, carla" />
    <arg name="tfl_detector"            default="carla"                 doc="carla, camera, mqtt_camera_fusion" />
    <arg name="use_tracking"            default="$(eval detector != 'carla')" />
    <arg name="use_prediction"          default="false" />
    <arg name='map_name'                default='tartu'/>
    <arg name="follower"                default="pure_pursuit"          doc="pure_pursuit, stanley" />
    <arg name="waypoints_file"          default="waypoints_erm_utm_1m.csv" />
    <arg name="lanelet2_map_name"       default="$(arg map_name).osm"   unless="$(eval 'tartu' in map_name.lower())" />
    <arg name="lanelet2_map_name"       default="tartu_demo.osm"        if="$(eval 'tartu' in map_name.lower())" />
    <arg name='use_lexus_model'         default='true'/>
    <arg name='use_lidar_center'        default='true'/>
    <arg name='use_lidar_front'         default='false'/>
    
    <!-- Scenario Runner args -->
    <arg name='use_scenario_runner'     default='false'/>
    <arg name='scenario_runner_path'    default='$(optenv SCENARIO_RUNNER_ROOT)'/>
    <arg name='scenario_name'           default='FollowLeadingVehicle'/>
    <arg name='scenario_file'           default='$(find autoware_mini)/data/scenarios/$(arg map_name)/$(arg scenario_name).xosc'/>
    <arg name='generate_traffic'        default='$(eval not use_scenario_runner)'/>

    <!-- Localization -->
    <include file="$(find autoware_mini)/launch/localization.launch">
        <arg name="localizer"           value="$(arg localizer)" />
    </include>

    <!-- Detection -->
    <include file="$(find autoware_mini)/launch/detection.launch">
        <arg name="detector"            value="$(arg detector)" />
        <arg name="tfl_detector"        value="$(arg tfl_detector)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
        <arg name='use_lidar_center'    value='$(arg use_lidar_center)'/>
        <arg name='use_lidar_front'     value='$(arg use_lidar_front)'/>
        <arg name="use_tracking"        value="$(arg use_tracking)" />
        <arg name="use_prediction"      value="$(arg use_prediction)" />
    </include>

    <!-- Planning -->
    <include file="$(find autoware_mini)/launch/planning.launch">
        <arg name="global_planner"      value="$(arg global_planner)" />
        <arg name="local_planner"       value="$(arg local_planner)" />
        <arg name="use_path_smoothing"  value="$(arg use_path_smoothing)" />
        <arg name="waypoints_file"      value="$(arg waypoints_file)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
    </include>

    <!-- Control -->
    <include file="$(find autoware_mini)/launch/control.launch">
        <arg name="follower"            value="$(arg follower)" />
    </include>

    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch" >
        <arg name="use_lexus_model"     value="true" />
    </include>

    <!-- Carla platform -->
    <include file="$(find autoware_mini)/launch/platform/carla.launch">
        <arg name='map_name'                            value='$(arg map_name)'/>
        <arg name="use_manual_control"                  value="$(arg use_manual_control)" />
        <arg name="use_lidar"                           value="$(eval 'lidar' in detector and detector != 'lidar_vella')" />
        <arg name="use_radar"                           value="$(eval 'radar' in detector)" />
        <arg name="use_gnss"                            value="$(eval localizer == 'novatel')" />
        <arg name="use_cam"                             value="$(eval 'camera' in tfl_detector)" />
        <arg name="generate_traffic"                    value="$(arg generate_traffic)" />
        <arg name="scenario_runner_path"                value="$(arg scenario_runner_path)" />
        <arg name="use_scenario_runner"                 value="$(arg use_scenario_runner)" />
        <arg name="scenario_name"                       value="$(arg scenario_name)" />
        <arg name="scenario_file"                       value="$(arg scenario_file)" />
    </include>

    <!-- Rviz -->
    <include file="$(find autoware_mini)/launch/dashboard.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini.rviz" required="true" />

</launch>