<?xml version="1.0"?>
<launch>
    
    <!-- Map configuration -->
    <arg name='map_name'                default='tartu_demo'                   doc="Map name to use"/>
    
    <!-- Localization -->
    <arg name="localizer"               default="carla"                        doc="Localizer to use (novatel, carla)"/>
    <arg name="use_lane_matching"       default="false"                        doc="Enable lane boundary matching for localization"/>
    
    <!-- Detection -->
    <arg name="detector"                default="carla"                        doc="Detector to use (lidar_cluster, lidar_cluster_gpu, lidar_sfa, sim, carla)"/>
    <arg name="use_lidar_center"        default='true'                         doc="Use velodyne lidar"/>
    <arg name="use_lidar_front"         default='false'                        doc="Use ouster lidar"/>
    <arg name="use_road_area_filter"    default="$(eval 'tartu' in map_name)"  doc="Use road area filter"/>
    <arg name="ground_removal"          default="naive"                        doc="Ground removal method (naive, jcp)"/>
    <arg name="tfl_detector"            default="carla"                        doc="Traffic light detector to use (carla, yolo, camera, mqtt_yolo_fusion, mqtt_camera_fusion)"/>
    <arg name="tfl_cameras"             default="mako"                         doc="Cameras to use for traffic light detection (mako, nvidia)"/>
    <arg name="tracker"                 default="$(eval 'none' if detector in ('carla', 'radar') else 'ema')" doc="Tracker to use (none, ema)"/>
    <arg name="predictor"               default="map_naive"                    doc="Predictor to use (none, naive, map, map_naive)"/>
    <arg name="detection_range"         default=""                             doc="Detection range in meters (empty for default)"/>
    
    <!-- Planning -->
    <arg name="global_planner"          default="lanelet2"                     doc="Global planner to use (waypoints, lanelet2)"/>
    <arg name="local_planner"           default="rule_swerve"                  doc="Local planner to use (rule_speed, rule_swerve, openpilot, none)"/>
    <arg name="waypoints_file"          default="waypoints_erm_utm_1m.csv"     doc="Waypoints file for waypoint planner"/>
    <arg name="use_path_smoothing"      default="true"                         doc="Enable path smoothing"/>
    <arg name="enable_goal_checker"          default="true"                    doc="Enable goal checker"/>
    <arg name="enable_object_checker"        default="true"                    doc="Enable object checker"/>
    <arg name="enable_manual_yield_checker"  default="false"                   doc="Enable auto stop checker"/>
    <arg name="enable_stop_sign_checker"      default="true"                    doc="Enable stop sign checker"/>
    <arg name="enable_traffic_light_checker" default="true"                    doc="Enable traffic light checker"/>
    <arg name="enable_crosswalk_checker"     default="true"                    doc="Enable crosswalk checker"/>
    <arg name="enable_yielding_checker"      default="true"                    doc="Enable yielding checker"/>
    <arg name="enable_give_way_checker"      default="true"                    doc="Enable give way checker"/>
    <arg name="enable_right_of_way_checker"  default="true"                    doc="Enable right of way checker"/>
    <arg name="enable_trajectory_checker"    default="true"                    doc="Enable trajectory checker"/>
    <arg name="enable_bus_stop_checker"      default="true"                    doc="Enable bus stop checker"/>
    <arg name="enable_road_closures"    default="true"                         doc="Enable road closures"/>

    <!-- Control -->
    <arg name="controller"              default="pure_pursuit"                 doc="Controller to use (pure_pursuit, stanley)"/>
    
    <!-- Visualization -->
    <arg name="launch_rviz"             default='true'                         doc="Determines if rviz is launched or not"/>
    <arg name="use_python_visualizers"  default="true"                         doc="Use Python visualizer nodes instead of RViz plugins"/>

    <!-- Carla specific -->
    <arg name='carla_host'              default='localhost' />
    <arg name='carla_port'              default='2000' />
    <arg name="use_scenario_runner"     default='false'                        doc="Use Scenario Runner with Carla"/>
    <arg name="scenario_name"           default=""                             doc="Scenario name for Scenario Runner"/>
    <arg name="route_id"                default=""                             doc="Route ID to follow for running route scenario"/>
    <arg name="generate_traffic"        default="$(eval not use_scenario_runner)" doc="Generate traffic in Carla"/>
    <arg name="use_manual_control"      default="false"                        doc="Use manual control for Carla"/>

    <!-- Localization -->
    <include file="$(find autoware_mini)/launch/localization.launch">
        <arg name="localizer"           value="$(arg localizer)" />
        <arg name="map_name"            value="$(arg map_name)" />
        <arg name="use_lane_matching"   value="$(arg use_lane_matching)" />
    </include>

    <!-- Perception -->
    <include file="$(find autoware_mini)/launch/perception.launch">
        <arg name="detector"            value="$(arg detector)" />
        <arg name="tfl_detector"        value="$(arg tfl_detector)" />
        <arg name="tfl_cameras"         value="$(arg tfl_cameras)" />
        <arg name='use_lidar_center'    value='$(arg use_lidar_center)'/>
        <arg name='use_lidar_front'     value='$(arg use_lidar_front)'/>
        <arg name="tracker"             value="$(arg tracker)" />
        <arg name="predictor"           value="$(arg predictor)" />
        <arg name="detection_range"     value="$(arg detection_range)" />
        <arg name="map_name"            value="$(arg map_name)" />
        <arg name="use_road_area_filter" value="$(arg use_road_area_filter)" />
        <arg name="ground_removal"      value="$(arg ground_removal)" />
        <arg name="use_python_visualizers" value="$(arg use_python_visualizers)" />
    </include>

    <!-- Planning -->
    <include file="$(find autoware_mini)/launch/planning.launch">
        <arg name="global_planner"      value="$(arg global_planner)" />
        <arg name="local_planner"       value="$(arg local_planner)" />
        <arg name="use_path_smoothing"  value="$(arg use_path_smoothing)" />
        <arg name="waypoints_file"      value="$(arg waypoints_file)" />
        <arg name="map_name"            value="$(arg map_name)" />
        <arg name="load_goals"          value="$(eval not use_scenario_runner)" />
        <arg name="enable_goal_checker"          value="$(arg enable_goal_checker)" />
        <arg name="enable_object_checker"        value="$(arg enable_object_checker)" />
        <arg name="enable_manual_yield_checker"  value="$(arg enable_manual_yield_checker)" />
        <arg name="enable_stop_sign_checker"      value="$(arg enable_stop_sign_checker)" />
        <arg name="enable_traffic_light_checker" value="$(arg enable_traffic_light_checker)" />
        <arg name="enable_crosswalk_checker"     value="$(arg enable_crosswalk_checker)" />
        <arg name="enable_yielding_checker"      value="$(arg enable_yielding_checker)" />
        <arg name="enable_give_way_checker"      value="$(arg enable_give_way_checker)" />
        <arg name="enable_right_of_way_checker"  value="$(arg enable_right_of_way_checker)" />
        <arg name="enable_trajectory_checker"    value="$(arg enable_trajectory_checker)" />
        <arg name="enable_bus_stop_checker"      value="$(arg enable_bus_stop_checker)" />
        <arg name="enable_road_closures"         value="$(arg enable_road_closures)" />
        <arg name="use_python_visualizers"       value="$(arg use_python_visualizers)" />
    </include>

    <!-- Control -->
    <include file="$(find autoware_mini)/launch/control.launch">
        <arg name="controller"            value="$(arg controller)" />
    </include>

    <!-- Carla platform -->
    <include file="$(find autoware_mini)/launch/platform/carla.launch">
        <arg name='carla_host'                          value='$(arg carla_host)'/>
        <arg name='carla_port'                          value='$(arg carla_port)'/>
        <arg name='map_name'                            value='$(arg map_name)'/>
        <arg name="use_lidar"                           value="$(eval 'lidar' in detector)" />
        <arg name="use_radar"                           value="$(eval 'radar' in detector)" />
        <arg name="use_gnss"                            value="$(eval localizer == 'novatel')" />
        <arg name="use_mako_cameras"                    value="$(eval ('camera' in tfl_detector or 'yolo' in tfl_detector) and tfl_cameras=='mako')" />
        <arg name="use_nvidia_cameras"                  value="$(eval ('camera' in tfl_detector or 'yolo' in tfl_detector) and tfl_cameras=='nvidia')" />
        <arg name="use_manual_control"                  value="$(arg use_manual_control)" />
        <arg name="generate_traffic"                    value="$(arg generate_traffic)" />
        <arg name="use_scenario_runner"                 value="$(arg use_scenario_runner)" />
        <arg name="route_id"                            value="$(arg route_id)" />
        <arg name="scenario_name"                       value="$(arg scenario_name)" />
    </include>

    <!-- Rviz -->
    <include if="$(arg launch_rviz)" file="$(find autoware_mini)/launch/rviz.launch" />

</launch>