<?xml version="1.0"?>
<launch>
    
    <arg name="use_manual_control"          default="false"                 doc="use manual control for carla"/>
    <arg name="use_detection"               default="true"                  doc="use object detection"/>
    <arg name="global_planner"              default="lanelet2"              doc="waypoints, lanelet2" />
    <arg name="local_planner"               default="speed"                 doc="speed, none"/>
    <arg name="localizer"                   default="carla"                 doc="novatel, carla" />
    <arg name="detector"                    default="carla"                 doc="cluster, carla" />
    <arg name="tfl_detector"                default="carla"                 doc="carla" />
    <arg name="use_cam"                     default="false" />
    <arg name='map_name'                    default='tartu'/>
    <arg name="follower"                    default="pure_pursuit"          doc="pure_pursuit, stanley" />
    <arg name="waypoints_file"              default="waypoints_erm_utm_1m.csv" />
    <arg name="lanelet2_map_name"           default="tartu_demo_l_c_wp.osm"     if="$(eval arg('localizer')=='carla')" />
    <arg name="lanelet2_map_name"           default="tartu_demo_l_c_wp_dem.osm" if="$(eval arg('localizer')!='carla')" />
    <arg name='use_lexus_model'             default='true'/>
    <arg name='generate_traffic'            default='true'/>
    
    <!-- Scenario Runner args -->
    <arg name='use_scenario_runner'         default='false'/>
    <arg name='scenario_runner_path'        default='$(optenv SCENARIO_RUNNER_ROOT)'/>
    <arg name='scenario_name'               default='FollowLeadingVehicle'/>
    <arg name='scenario_file'               default='$(find autoware_mini)/data/maps/$(arg map_name)/scenarios/$(arg scenario_name).xosc'/>

    <!-- Planner -->
    <include file="$(find autoware_mini)/launch/planning.launch">
        <arg name="global_planner"      value="$(arg global_planner)" />
        <arg name="waypoints_file"      value="$(arg waypoints_file)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
        <arg name="local_planner"       value="$(arg local_planner)" />
    </include>

    <!-- Follower -->
    <include file="$(find autoware_mini)/launch/control.launch">
        <arg name="local_planner"       value="$(arg local_planner)" />
        <arg name="follower"            value="$(arg follower)" />
    </include>

    <!-- Localization -->
    <include file="$(find autoware_mini)/launch/localization.launch">
        <arg name="localizer"           value="$(arg localizer)" />
    </include>

    <!-- Detection -->
    <include if="$(arg use_detection)" file="$(find autoware_mini)/launch/detection.launch">
        <arg name="detector"            value="$(arg detector)" />
        <arg name="tfl_detector"        value="$(arg tfl_detector)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
    </include>

    <!-- Vehicle platform -->
    <include file="$(find vehicle_platform)/launch/platform.launch" >
        <arg name="use_lexus_model"     value="true" />
    </include>

    <!-- Carla platform -->
    <include file="$(find autoware_mini)/launch/platform/carla.launch">
        <arg name='map_name'                            value='$(arg map_name)'/>
        <arg name="use_manual_control"                  value="$(arg use_manual_control)" />
        <arg name="use_cam"                             value="$(arg use_cam)" />
        <arg name="detector"                            value="$(arg detector)" />
        <arg name="localizer"                           value="$(arg localizer)" />
        <arg name="generate_traffic"                    value="$(arg generate_traffic)" />
        <arg name="scenario_runner_path"                value="$(arg scenario_runner_path)" />
        <arg name="use_scenario_runner"                 value="$(arg use_scenario_runner)" />
        <arg name="scenario_name"                       value="$(arg scenario_name)" />
        <arg name="scenario_file"                       value="$(arg scenario_file)" />
    </include>

    <!-- Rviz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini.rviz" required="true" />

</launch>