<?xml version="1.0"?>
<launch>

    <arg name="follower"                default="pure_pursuit"  doc="pure_pursuit, stanley" />
    <arg name="global_planner"          default="lanelet2"      doc="waypoints, lanelet2" />
    <arg name="local_planner"           default="velocity"      doc="none, velocity" />
    <arg name="use_path_smoothing"      default="true" />
    <arg name="waypoints_file"          default="waypoints_erm_utm_1m.csv" />
    <arg name="lanelet2_map_name"       default="tartu_demo_noheight.osm" />
    <arg name="detector"                default="sim"           doc="usually sim" />
    <arg name="tfl_detector"            default="none"          doc="mqtt" />
    <arg name="tracker"                 default="none"          doc="none, ema"/>
    <arg name="predictor"               default="none"          doc="none, naive"/>

    <!-- Detection -->
    <include file="$(find autoware_mini)/launch/detection.launch">
        <arg name="detector"            value="$(arg detector)" />
        <arg name="tfl_detector"        value="$(arg tfl_detector)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
        <arg name="tracker"             value="$(arg tracker)" />
        <arg name="predictor"           value="$(arg predictor)" />
    </include>

    <!-- Planning -->
    <include file="$(find autoware_mini)/launch/planning.launch">
        <arg name="global_planner"      value="$(arg global_planner)" />
        <arg name="local_planner"       value="$(arg local_planner)" />
        <arg name="use_path_smoothing"  value="$(arg use_path_smoothing)" />
        <arg name="waypoints_file"      value="$(arg waypoints_file)" />
        <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
    </include>

    <!-- Control -->
    <include file="$(find autoware_mini)/launch/control.launch">
        <arg name="follower"        value="$(arg follower)" />
    </include>

    <!-- Bicycle_model simulator -->
    <include file="$(find autoware_mini)/launch/platform/simulation.launch" />

    <!-- Rviz -->
    <include file="$(find autoware_mini)/launch/dashboard.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_mini)/rviz/autoware_mini.rviz" required="true" />

    <!-- Localization params -->
    <rosparam command="load" file="$(find autoware_mini)/config/localization.yaml" ns="localization" />

    <!-- Patch controller params because simulation does not have delay -->
    <rosparam param="simulate_cmd_delay" ns="control/pure_pursuit_follower">0.0</rosparam>
    <rosparam param="simulate_cmd_delay" ns="control/stanley_follower">0.0</rosparam>

    <!-- Make it possible to use Carla town maps in bicycle simulation -->
    <group if="$(eval 'town' in lanelet2_map_name.lower())">
        <param name="/localization/utm_origin_lat" type="double" value="0.0" />
        <param name="/localization/utm_origin_lon" type="double" value="0.0" />
    </group>

</launch>