#!/usr/bin/env python3

PACKAGE = "autoware_mini"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enable_goal_checker",          bool_t, 0, "Enable goal stop checker",                       True)
gen.add("enable_object_checker",        bool_t, 0, "Enable object collision checker",                True)
gen.add("enable_traffic_light_checker", bool_t, 0, "Enable traffic light stop line checker",         True)
gen.add("enable_crosswalk_checker",     bool_t, 0, "Enable pedestrian crosswalk checker",            True)
gen.add("enable_yielding_checker",      bool_t, 0, "Enable yielding checker",                        True)
gen.add("enable_give_way_checker",      bool_t, 0, "Enable give way checker",                        True)
gen.add("enable_bus_stop_checker",      bool_t, 0, "Enable bus stop checker",                        True)
gen.add("enable_trajectory_checker",    bool_t, 0, "Enable trajectory collision checker",            True)
gen.add("enable_right_of_way_checker",  bool_t, 0, "Enable right of way checker",                    True)
gen.add("enable_manual_yield_checker",  bool_t, 0, "Enable manual yield checker",                    True)
gen.add("enable_stop_sign_checker",     bool_t, 0, "Enable stop sign checker",                       True)
gen.add("enable_lane_boundary_checker", bool_t, 0, "Enable lane boundary checker",                   True)

exit(gen.generate(PACKAGE, "collision_checker", "CollisionChecker"))
