#!/usr/bin/env python3

PACKAGE = "autoware_mini"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enable_initial_velocity_estimate", bool_t, 0, "Make initial velocity of an object equal to its first velocity estimate instead of zero", False)
gen.add("enable_initial_acceleration_estimate", bool_t, 0, "Make initial acceleration of an object equal to its first acceleration estimate instead of zero", False)
gen.add("enable_missed_detection_propagation", bool_t, 0, "Propagate missed detections based on their last known velocity", True)
gen.add("detection_counter_threshold", int_t, 0, "Number of detections required before an object is published as a track", 4, 1, 20)
gen.add("missed_counter_threshold", int_t, 0, "Number of consecutive missed detections before a track is deleted", 3, 1, 20)
gen.add("iou_threshold", double_t, 0, "Minimum IoU required to associate a detection with a track when using IoU-based association", 0.1, 0.0, 1.0)
gen.add("velocity_gain", double_t, 0, "Weight given to new velocity measurements in the EMA update", 0.2, 0.0, 1.0)
gen.add("acceleration_gain", double_t, 0, "Weight given to new acceleration measurements in the EMA update", 0.0, 0.0, 1.0)

association_enum = gen.enum([gen.const("iou", str_t, "iou", "IoU-based association"),
                            gen.const("euclidean", str_t, "euclidean", "Euclidean distance-based association")],
                           "Association method")
gen.add("association_method", str_t, 0, "Method used to associate detections with tracks", "iou", edit_method=association_enum)

gen.add("max_euclidean_distance", double_t, 0, "Maximum distance for associating a detection with a track when using Euclidean distance-based association", 1.0, 0.1, 10.0)
gen.add("update_heading_bboxes", bool_t, 0, "Update object heading and dimensions based on velocity vector", True)

exit(gen.generate(PACKAGE, "ema_tracker", "EMATracker"))
