#!/usr/bin/env python3

PACKAGE = "autoware_mini"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("min_x", double_t, 0, "Minimum x coordinate", -60.0, -100.0, 100.0)
gen.add("max_x", double_t, 0, "Maximum x coordinate", 75.0, -100.0, 100.0)
gen.add("min_y", double_t, 0, "Minimum y coordinate", -60.0, -100.0, 100.0)
gen.add("max_y", double_t, 0, "Maximum y coordinate", 60.0, -100.0, 100.0)
gen.add("min_z", double_t, 0, "Minimum z coordinate", -3.5, -20.0, 20.0)
gen.add("max_z", double_t, 0, "Maximum z coordinate", 0.05, -20.0, 20.0)
gen.add("cell_size", double_t, 0, "Grid cell size", 1.0, 0.1, 2.0)
gen.add("tolerance", double_t, 0, "Ground tolerance", 0.15, 0.0, 2.0)

filter_enum = gen.enum([gen.const("none", str_t, "none", "No filtering"),
                       gen.const("median", str_t, "median", "Median filtering"),
                       gen.const("average", str_t, "average", "Average filtering"),
                       gen.const("minimum", str_t, "minimum", "Minimum filtering")],
                      "Filter type")
gen.add("filter", str_t, 0, "Filter type", "average", edit_method=filter_enum)

gen.add("filter_size", int_t, 0, "Filter kernel size", 3, 3, 15)
gen.add("filter_iterations", int_t, 0, "Number of filter iterations", 1, 1, 10)

exit(gen.generate(PACKAGE, "naive_ground_removal", "NaiveGroundRemoval"))
