#!/usr/bin/env python3

PACKAGE = "autoware_mini"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("cluster_epsilon", double_t, 0, "Maximum distance between two samples for one to be considered as in the neighborhood of the other", 0.6, 0.1, 5.0)
gen.add("cluster_min_samples", int_t, 0, "Number of samples in a neighborhood for a point to be considered as a core point", 4, 1, 20)
gen.add("cluster_in_2d", bool_t, 0, "Perform clustering in 2D (x,y) instead of 3D (x,y,z)", True)

exit(gen.generate(PACKAGE, "points_clusterer", "PointsClusterer"))
